.c-main-navbar{
    grid-area: n;
    display: flex;
    justify-content: center;
    & ul{
        padding: 0;
        display: flex;
        @media #{$break1}{
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            
        }
        @media #{$break2}{
            flex-direction: column;
            justify-content: space-evenly;
            column-gap: 1rem;
        }
    }
    & a{
        &:link{
            text-decoration: none;
        }
        &:visited{

        }
    }
}
