@import './form-body/form-rating.scss';
@import './form-body/form-message-selction.scss';
.form-body-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    flex-grow: 2;
    row-gap: 1rem;
 }

























