

@import './form/form-body.scss';
@import './form/form-bottom.scss';
@import './form/form-header.scss';
.feed-form-box {
  @include input-text;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  column-gap: 2rem;
  row-gap: 1rem;
  border-radius: var(--border-radius-1);
  //buttons style
}







.form-user-details {
    display:grid;
    column-gap: 5rem;
    row-gap: 1rem;
  @media #{$break1}{
    grid-template-columns: 1fr;
  }
  @media #{$break2}{
    grid-template-columns: 1fr 1fr;
  }
    & .input-box{
      display: flex;
      justify-content:space-between;
      align-items: center;
      flex-basis: 1;
      & input{
        
        width: 8rem;
      }
      & span{
        
      }
        // flex-basis: 0;
        // flex-grow: 1;
        // display: flex;
        // justify-content: space-evenly;
        // flex-wrap: wrap;
        // flex-direction: column;
    }
  // display: flex;
  // flex-wrap: wrap;
  // max-width: 100%;
  // flex-direction: row;
  // & .input-box {
  //   margin-bottom: 15px;
  //   min-width: 200px;
  //   display: flex;
  //   //flex-wrap: wrap;
  //   //flex-shrink: auto;

  //   & span {
  //     display: block;
  //     font-weight: var(--font-weight-2);
  //     margin-bottom: 5px;
  //     font-size: var(--font-size-text-medium);
  //   }
  // }
}



// .form-message-details{
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     & textarea{
//         min-height:50px;
//     }
// }


// .form-find{
//     display:flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     & select{
//         min-width:200px;
//     }
// }

