
:root{
    //colors
    --color-red-1: 	#FF5733 ;
    --color-blue-1:#8EC5FC;
    --color-black-1:black;
    --color-white-1:rgba(255, 255, 255, 0.062);
    --color-white-2:hsl(0, 0%, 100%) ;

    //background images
    --color-background-image-blue-1:linear-gradient(62deg, #8EC5FC 0%, #a8a0a8 100%);

    //gradients
    --color-gradient-1:linear-gradient(135deg, #71b7e6, #9b59b6);
    --color-gradient-2:linear-gradient(-135deg, #71b7e6, #9b59b6);

&:has(.header-theme-selector:checked){
    --color-background-image-blue-1:linear-gradient(62deg, #8EC5FC 0%, #a8a0a8 0%);
}
    }

